@charset "UTF-8";

header.header div.block nav.nav ul.nav_list>li>a.-on, header.header div.block nav.nav ul.nav_list>li>a:hover
	{
	transition-duration: 0.4s;
	background: linear-gradient(to bottom, #c9c2bb, #a79f95 98%);
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15), 0 5px 5px 0
		rgba(0, 0, 0, 0.15);
	color: white;
	border-radius: 12px 12px 0px 0px;
}

.title::before, .title::after {
	content: "";
	width: 0.8rem;
	height: 0.8rem;
	border: 1px solid #b59668;
	transform: rotate(45deg);
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto 0;
	box-sizing: border-box;
}

div.horizen {
	width: 100%;
	height: 0.01rem;
	margin: 0.1rem 0;
	background: #c1c1c1;
	padding:0;
}

div.main {
	display: inline-block;
}

div.row aside {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	text-align: center;
}

div.row aside div.section {
	margin:0;
	padding:18px 0;
	background-color: white;
}
div.main div.row aside div.section>a{
	font-size:18px;
	margin:0;
	padding:20px 30px;
	border: 1px solid #b59668;
}

div.main div div.container {
	float: right;
	text-align: center;
	background-color: white;
	border-radius: 10px;
}

div.main div div.container {
	display: none;
}

div.main div div.container.-on {
	display: block;
}

