@charset "UTF-8";


    table {
	width: 100%;
	background-color: white;
	margin-top: 5px;
	margin-bottom: 5px;
		display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  table, th, td {
    border: 1px solid #CCCCFF;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }
  div.main_content {
	width: 100%;
	margin: 0 auto;
	font-size: 0;

	/*   border: 1px solid red; */
}

aside.aside {
	/*   background-color: #ddd; */
	width: 150px;
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	margin-right: 10px;
	/*   border: 1px solid #999; */
}

main.main {
	/*   background-color: #ddd; */
	width: calc(100% - 200px - 10px);
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	/*   border: 1px solid #999; */
}
th:first-child {

 position:sticky;

 left:0; 

 z-index:1;
background-color:lightpink;

}
td:first-child {

 position:sticky;

 left:0; 

 z-index:1;

background-color:lightpink;
}